#fundo{
    padding:0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
                transition: all 0.5s ease;
    font-size:1.2em;
    background:rgb(30, 160, 219);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(255, 255, 255));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                    background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                        background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
}

.instaCall{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Cookie', cursive;
    font-size: 250%;
}

.instaCall2{
    color: rgb(2, 2, 2);
    font-size: 250%;
    font-family: 'Cookie', cursive;
}

#login{
    background-image: url("Imagens/CentroLogin.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 30%;
    padding: 10%;
}

.logoSociesc{
    width: 15%;
}

.informacaoLogin{
    font-weight: bold;
    font-size: relative;
    font-size: 120%;
}

.inputsLogin{
    width: 20%;
    height: 2%;
    font-size: 100%;
}

#button{
    font-size: 120%;
    width: 10%;
    height: 3%;
    background-color: #0066b8;
    padding: 0.1% 3%;
    border: none;
    color: white;
    text-decoration: none;
}

.mudarPagina{
    text-decoration: none;
    color: white;
    font-size: 100%;
}

/* Resolução "HD" */

@media (max-width: 1480px) {
    .logoSociesc{
        width: 15%;
    }

    #button{
        font-size: 100%;
        height: 3%;
        padding:0%;
    }

    .informacaoLogin{
        font-size: 100%;
    }

    #login{
        background-size: 35%;
    }

    .inputsLogin{
        width: 20%;
        height: 3%;
        font-size: 100%;
    }

    .informacaoLogin{
        font-weight: bold;
        font-size: relative;
        font-size: 100%;
    }
}
#fundo2{
    padding:0 50px 0 0;
	-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
                transition: all 0.5s ease;
    font-size:1.2em;
    background:rgb(30, 160, 219);
        background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219), rgb(7, 6, 6));
            background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219), rgb(142, 56, 253));
                background-image: -o-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                    background-image: -ms-linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                        background-image: linear-gradient(135deg,  rgb(30, 160, 219), rgb(142, 56, 253));
                    height:100%;        
                        overflow:hidden;
                        width:300px; 
                        position:fixed;
                        top:0;
                        left:-320px;
                    }
/* -------------------------------------------------- */
