#fundo{
    background-color: rgba(241, 238, 238, 0.863);
}

#lateral {
	padding:0 50px 0 0;
	    -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
    font-size:1.2em;
    background:rgba(30, 159, 219, 0.5);
    background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
        background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                    background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
    height:100%;        
	overflow:hidden;
	width:300px; 
	position:fixed;
	top:0;
	left:-320px;
}

#lateral:before {
	z-index:1000;
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:200px;
}

#lateral:hover:before, #lateral:focus:before {
    left: -500px
}

#lateral:hover, #lateral:focus,  #lateral:active  {
    overflow-y:scroll;
    -moz-transform: translate(320px, 0);
        -webkit-transform: translate(320px, 0);
            -o-transform: translate(320px, 0);
                transform: translate(320px, 0);
    padding-right:0;
}

/*
Parte que eu sei para a tabela lateral
*/

.instaCall{
    color: rgb(255, 255, 255);
    font-family: 'Cookie', cursive;
    font-size: 200%;
}

.instaCall2{
    color: rgb(2, 2, 2);
    font-size: 200%;
    font-family: 'Cookie', cursive;
}

.empresaMenu{
    width: 75%;
    position: relative;
    padding: 10%;
    margin-top: -20%;
}

.fundo2 {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
}

.tituloMenu{
    font-weight: bold;
    font-size: 30px;
}

.lista{
    text-decoration: none;
    list-style-type: none;
    line-height: 150%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Handlee', cursive;
    color: rgba(0, 0, 0, 0.479);
    border-radius: 10px;
}

.sair{
    margin-left: 60%;
    position:absolute;
    bottom: 10;
    width: 30%;
    font-size: 20px;
}