*{
    margin: 0;

}

.insta{
    color: rgb(255, 255, 255);
    font-family: 'Cookie', cursive;
    font-size: 200%;
    position: relative;
    line-height: 140%;
}

.call{
    color: rgb(0, 0, 0);
    font-family: 'Cookie', cursive;
}


#topoInstaCall{
    -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
font-size:1.2em;
background:rgba(30, 159, 219, 0.5);
background-image: -moz-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
    background-image: -webkit-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
        background-image: -o-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
            background-image: -ms-linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));
                background-image: linear-gradient(135deg, rgb(30, 160, 219, 0.5), rgb(142, 56, 253, 0.5));

position: relative;
top: 0;
left: 0;
right: 0;
height: 55px;
}

#fundoCinza{
    background-color: rgb(240, 240, 240);
}